<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="container">
      <div class="row">
        <h1 class="col-sm-12">Gestor de Clientes</h1>
        <button type="button" on-click="getMovimientos" name="button">Obtener Clientes</button>
        <button type="button" on-click="añadirCliente" name="button">Añadir Clientes</button>
      </div>
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped col-xs-12">
          <thead>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>ID</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td>[[item.nombre]]</td>
                <td>[[item.apellido]]</td>
                <td>[[item.idcliente]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          movimientos: {
            type: Array,
            notify: true
          }
        };
      }
      getCustomers() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        this.noCargados = false;
        console.log(this.clientes.length);
      }
      añadirCliente() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var cliente = {"CustomerID":"VEGA","CompanyName":"BBVA","ContactName":"Andres vega","ContactTitle":"Sales Representative","Address":"Obere Str. 57","City":"Berlin","Region":null,"PostalCode":"12209","Country":"Germany","Phone":"030-0074321","Fax":"030-0076545"};
        var body = JSON.stringify(cliente);


        request.send(body);
        console.log(request.responseText);
      }
      getMovimientos(){
        var url = "http://localhost:3002/movimientos";
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movimientos = JSON.parse(request.responseText);
        this.noCargados = false;
        console.log(this.movimientos);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
