<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="mi-visor">
  <template>
    <style>
      img{
        width: 600px;
      }
    </style>

    <div class="container">
      <div class="row">
        <img class="co-lg-8 col-xs-12" src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&client=byo&vehicle=202S&paint=P0300&brand=WBBM&sa=S02NH,S02NH,S02QT,S0302,S0322,S03AG,S0508,S0521,S0760,S07M9&fabric=FMDB2&RESP=PNG&quality=90&width=900&sharpness=100&BKGND=TRANSPARENT&angle=30">
      </div>
      <div class="row">
        <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="incrementar">Datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}" />
        <input type="text" value="[[prop1]]" name="" value="" />
      </div>
      <div class="row">
        <table class="table table-striped col-xs-12">
          <thead>
            <th>MARCA</th>
            <th>MODELO</th>
            <th>AÑO</th>
            <th>NUMBER</th>
          </thead>
          <tbody>
            <tr>
              <td>BMW</td>
              <td>M2</td>
              <td>2019</td>
              <td>[[prop2]]</td>
            </tr>
            <tr>
              <td>BMW</td>
              <td>M2</td>
              <td>2018</td>
              <td>[[prop2]]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: "BMW"
          },
          prop2: {
            type: Number,
            value: 0
          },
          prop3: {
            type: String,
            value: "Set your name:"
          }
        };
      }
      incrementar() {
        this.prop2 = this.prop2 + 1;
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
